<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task 1 Resume</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #555;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    
    <header>
        <h1>Resume</h1>
        <h2>Ansh vachheta</h2>
        
    </header>

    <p>
        <h2>Skills</h2>
        <ul>
            <li>Video editing with canva, imovies , davinci Resolve </li>
            <li>Adobe illustrator</li>
            <li>UI/UX Figma , Adobe XD</li>
            <li>Web design with HTML and CSS</li>
            
        </ul>
    </p>

    <p>
        <h2>Education</h2>
        <ul>
            <li>
                <strong>Degree:</strong>B.tec
                <br>
                <strong>college:</strong> Silver Oak University
                <br>
                <strong>Year:</strong> 2025
            </li>
            <li>
                <strong>school:</strong>Tripda international school
                <br>
                <strong>pass out year:</strong>2020
            </li>
           
        </ul>
    </p>

    <p>
        <h2>Experience</h2>
        <ul>
            <li>15 days internship training in R programing in data science </li>
        </ul>
    </p>

    <P>
        <h2>Intrest</h2>
        <ul>
            <li>Editing</li>
            <li>Book reading</li>
            <li>Swiming</li>
            
        </ul>
    </P>

    <p>
        <h2>Extracurricular Activities</h2>
        <ul>
            <li>Member of IEEE SOU
            </li>
            <li>GDSC core team member</li>
            
        </ul>
    </p>

</body>
</html>
